:root {
    --blanco: #ffff;
    --gris: #edeef0;
    --verde: #00a82e;
    --rojo: #FF0000;
    --negro: #0000;
    --amarillo: #ffe859;
}

html {
    font-size: 120%;
    box-sizing: border-box;
    scroll-snap-type: y mandatory;
}

h1,
h2 {
    font-family: "Poppins", sans-serif;
}

p,
a,
button {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    border-radius: 10px;
    text-decoration: none;

}

img {
    height: 5rem;
    border-radius: 10px;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}


.tablero {
    background-color: var(--verde);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2rem;
}

.contenido {
    margin: 1rem;
    text-align: center;
}

.botones1 {
    width: 6rem;
    height: 2rem;
    margin: 1rem;
    background-color: var(--amarillo);
}

.botones2 {
    width: 15rem;
}

.contenido2 {
    margin: 1rem;
    text-align: center;
}

.tabla {
    margin: 2rem;
    padding: 1rem;
    background-color: var(--gris);
}

.columnas {
    width: 10rem;
}

.His {
    margin-top: rem;
    justify-content: 10rem;
}

.botonIcon {
    background-color: transparent;

}

/*deplegar del icono*/
.dropdown {
    display: inline-block;
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    width: 100%;
    overflow: auto;
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.4);
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    display: block;
    color: #000000;
    padding: 5px;
    text-decoration: none;
}

.dropdown-content a:hover {
    color: var(--blanco);
    background-color: var(--verde);

}

/*datos de entrada*/
.datos {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(2, .5fr);
}

.personal {
    margin-right: 5rem;
}

.direccion {
    padding-top: 2.5rem;
    margin-left: 5rem;
}

/*botones de abajo*/

.botonsDown {
    margin: 2rem;
}

.botonGrandes1 {
    width: 10rem;
    height: 2.5rem;
    margin: 1rem;
    background-color: var(--verde);
}

.botonGrandes2 {
    width: 10rem;
    height: 2.5rem;
    margin: 1rem;
    background-color: var(--rojo);
}

.botonGrandes1 a {
    color: var(--blanco);
    text-decoration: none;
}

.botonGrandes2 a {
    color: var(--blanco);
    text-decoration: none;
}