:root {
    --blanco: #ffff;
    --gris: #edeef0;
    --verde: #00a82e;
}

html {
    font-size: 120%;
    box-sizing: border-box;
    scroll-snap-type: y mandatory;

}


*,
*::before,
*::after {
    box-sizing: inherit;
}

.formulario {
    background-color: var(--verde);
    margin: 5rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    padding-left: 3rem;
    padding-right: 3rem;

}



.ingreso {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, .5fr);
}

.entrada {
    padding: auto;
    width: 50rem;
    height: 2rem;
}

.enviar {
    margin-left: 48rem;
    padding-left: 5rem;
    padding-right: 5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}