:root {
    --blanco: #ffff;
    --gris: #edeef0;
    --verde: #00a82e;
    --rojo: #FF0000;
    --negro: #0000;
    --amarillo: #ffe859;
}

html {
    font-size: 120%;
    box-sizing: border-box;
    scroll-snap-type: y mandatory;
}

h1,
h2 {
    font-family: "Poppins", sans-serif;
}

p,
a,
button {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    border-radius: 10px;
    text-decoration: none;
}

img {
    height: 5rem;
    border-radius: 10px;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}


.tablero {
    background-color: var(--verde);
    display: flex;
    align-items: center;
    justify-content: center;
}

.contenido {
    margin: 1rem;
    text-align: center;
}

.botones1 {
    width: 6rem;
    height: 2rem;
    margin: 1rem;
    background-color: var(--amarillo);
}

.botones2 {
    width: 15rem;
    height: 2rem;
}

.botones3 {
    width: 15rem;
    height: 2rem;
    background-color: var(--amarillo);
}


.botones4 {
    width: 15rem;
    height: 2rem;
}

.tabla {
    margin: 2rem;
    padding: 1rem;
    background-color: var(--gris);
    grid-template-columns: repeat(2, .5fr);
}


.columnas {
    width: 10rem;
}

.His {
    margin-top: rem;
    justify-content: 10rem;
    background-color: var(--verde);
}

.His a {
    color: var(--blanco);
}

.botonIcon {
    background-color: transparent;

}

/*deplegar del icono*/
.dropdown {
    display: inline-block;
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    width: 100%;
    overflow: auto;
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.4);
    background-color: var(--gris);
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    display: block;
    color: #000000;
    padding: 5px;
    text-decoration: none;
}

.dropdown-content a:hover {
    color: var(--blanco);
    background-color: var(--verde);

}


/*parte del registro*/
.botones1 {
    grid-template-columns: repeat(4, .5fr);
}


.datosPersona {
    text-align: center;

}


.persona1 {
    display: inline-block;
    margin-right: 7.8rem;
}

.direccion {
    text-align: center;
}

.dir {
    display: inline-block;
    margin-right: 5rem;
    text-align: left;
}

.lineaDir {
    width: 31rem;
}

.carga {
    text-align: center;
}

.carga1 {
    display: inline-block;
    margin-right: 35px;
    text-align: left;
}