:root {
    --blanco: #ffff;
    --gris: #edeef0;
    --verde: #00a82e;
}

html {
    font-size: 120%;
    box-sizing: border-box;
    scroll-snap-type: y mandatory;
    background-image: url(../imagenes/fondo_inicio_sesion.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    position: relative;
}

h1,
h2 {
    font-family: "Poppins", sans-serif;
}

p,
a,
button {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
}


*,
*::before,
*::after {
    box-sizing: inherit;
}

.logo {
    position: relative;
    height: 5rem;
}

.titulo {
    color: var(--blanco);
    text-align: center;
}

.Contenido {
    background-color: var(--gris);
    width: 100%;
    height: auto;
    max-width: fit-content;
    border-radius: 3%;
    padding: 1.5rem;
}

.usuario {
    display: grid;
    grid-template-columns: repeat(2, .8fr);
    margin-bottom: 1rem;
}

.contra {
    display: grid;
    grid-template-columns: repeat(2, .8fr);
    margin-bottom: 1rem;
}

.ingresar {
    margin-top: 1rem;
}

.modal-container {
    display: flex;
    background-color: var(--gris);
    align-items: center;
    justify-content: center;
    position: fixed;
    pointer-events: none;
    opacity: 0;
    top: 10rem;
    left: 10;
    height: 8rem;
    width: 8rem;
}

/*esto viene del javaScript*/
.show {
    pointer-events: auto;
    opacity: 1;
}

.modal {
    background-color: var(--blanco);
    width: 60rem;
    max-width: 100%;
    padding: 3rem 3rem;
    border-radius: 5px;
    text-align: center;

}